.text-caribbean-green {
  color: $caribbean-green  !important;
}

.text-mountain-meadow {
  color: $mountain-meadow  !important;
}

.text-cinnabar {
  color: $cinnabar  !important;
}

.text-picked-bluewood{
  color: $picked-bluewood  !important;
}

.text-picked-bluewood-2 {
  color: $picked-bluewood-2  !important;
}

.text-granny-smith {
  color: $granny-smith  !important;
}

.stock-up {
  background-color: $mountain-meadow;
}

.stock-down {
  background-color: $cinnabar;
}

.stock-disabled {
  background-color: #ecf0f1;
}
